.container{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    h1{
        font-size:45px;
        font-weight:700;
        margin-bottom:100px;
    }
    p{
        text-align:center;
        font-size:16px;
        font-weight:500;
        margin-bottom:50px;
    }
    .btn__container{
        width:100%;
        display:flex;
        justify-content:center;
    }
    .cards{
        width:100%;
        display:grid;
        gap:1rem;
        grid-auto-rows:22rem;
        grid-template-columns:repeat(auto-fill,minmax(335px,1fr));
        justify-items:center;
    }

    .hidden{
        display: none;
    }