.header{
    height:10vh;
    background-color:#FF6868;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
img{
    width:40px;
    height:40px;
}
img:nth-child(1){
    margin-left:8px;
}
img:nth-child(2){
    margin-right:8px;
}
.menu__options{
    display:none;
}
.menu__options_active{
    position:absolute;
    z-index:100;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color:#8AF1FF;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.menu__options_close{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.cross{
    margin-right:10px;
    font-size:20px;
    color:blue;
    cursor:pointer;
}
.menu__options__links{
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.menu__options__links > li{
    list-style:none;
}
.menu__options__links > li > a{
    font-size: 24px;
    font-weight:bold;
    text-decoration:none;
}
.menu__options__me{
    height:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.menu__options__me h3{
    font-size:24px;
}
.menu__options__me a{
    font-size:16px;
    color:#C6558B;
}